<mat-toolbar>
    <div class="header-wrapper">
        <div class="header-container">
            <div>
                <img style="transform: translateY(3px)" class="icon" src="../../assets/img/board (2).svg" alt="">
                <span>Kanbaneasy</span>
            </div>
            <div *ngIf="!route('board')" (click)="goToBoard()" class="go-to-board"
                style="cursor: pointer;height: 100%;display: flex;align-items: center;">
                <p style="transform: translateY(4px);display: flex; align-items: center">Go to board...</p>
                <img class="icon" src="../../assets/img/start.svg" alt="">

            </div>

            <div *ngIf="route('board')" (click)="goToAddTask()" class="go-to-board"
                style="cursor: pointer;height: 100%;display: flex;align-items: center;">
                <p style="transform: translateY(4px);display: flex; align-items: center">Add a task...</p>
                <img class="icon" src="../../assets/img/plus.svg" alt="">

            </div>
        </div>
    </div>

</mat-toolbar>
