<div class="root">
    <div class="board">

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column">

                    <div class="column-title" id="to-do">To Do</div>
                    <div (click)="showTask()" class="tasks-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="toDo"
                        (cdkDropListDropped)="drop($event, 'to-do')">
                        <div (touch)="selectTask(t)" (mousedown)="selectTask(t)" class="task" *ngFor="let t of toDo" cdkDrag>
                            <p class="task-title">{{t['title']}}</p>
                            <p>{{ t['description'] }}</p>
                            <img class="icon" (click)="editTask()" src="../../assets/img/edit.svg" alt="">
                            <img title="move the task" class="icon2" (click)="moveTask()" src="../../assets/img/move-arrow.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title" id="in-progress">In Progress</div>
                    <div (click)="showTask()" class="tasks-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="inProgress"
                        (cdkDropListDropped)="drop($event, 'in-progress')">
                        <div (touch)="selectTask(t)"  (mousedown)="selectTask(t)" class="task" *ngFor="let t of inProgress" cdkDrag>
                            <p class="task-title">{{t['title']}}</p>
                            <p>{{ t['description'] }}</p>
                            <img class="icon" (click)="editTask()" src="../../assets/img/edit.svg" alt="">
                            <img title="move the task" class="icon2" (click)="moveTask()" src="../../assets/img/move-arrow.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title" id="testing">Testing</div>
                    <div (click)="showTask()" class="tasks-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="testing"
                        (cdkDropListDropped)="drop($event, 'testing')">
                        <div (touch)="selectTask(t)"  (mousedown)="selectTask(t)" class="task" *ngFor="let t of testing" cdkDrag>
                            <p class="task-title">{{t['title']}}</p>
                            <p>{{ t['description'] }}</p>
                            <img class="icon" (click)="editTask()" src="../../assets/img/edit.svg" alt="">
                            <img title="move the task" class="icon2" (click)="moveTask()" src="../../assets/img/move-arrow.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title" id="done">Done</div>
                    <div (click)="showTask()" class="tasks-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="done"
                        (cdkDropListDropped)="drop($event, 'done')">
                        <div (touch)="selectTask(t)"  (mousedown)="selectTask(t)" class="task" *ngFor="let t of done" cdkDrag>
                            <p class="task-title">{{t['title']}}</p>
                            <p>{{ t['description'] }}</p>
                            <img class="icon" (click)="editTask()" src="../../assets/img/edit.svg" alt="">
                            <img (click)="removeFromBoard()" *ngIf="t['boardState'] == 'done'" style="height: 24px;" class="icon2" src="../../assets/img/done.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
