.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #2F3061;
    width: 100vw;
}

.board {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;

    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(gray, 0.5);
        padding: 8px 15px;
        display: flex;
        align-items: center;
    
        p {
            width: fit-content;
            margin: auto;
            margin-left: 8px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;
        height: 100%;
        width: 100%;
        margin: 0 auto;

        .board-columns {
            display: flex;
            flex-grow: 1;
            height: 100%;
            width: 100%;
            justify-content: center;
            .board-column {
                height: 500px;
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                background-color: white;
                overflow: auto;
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                scrollbar-width: none;  /* Firefox */

                width: 250px;
                max-width: 250px;
                margin: 50px;
                padding: 25px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                border-radius: 4px;

                &:not(:first-child) {
                    margin-left: 0;
                }

                .column-title {
                    font-size: 20px;
                    font-weight: 800;
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: 1.4px;
                }
            }
        }
    }
}
.board-column::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.tasks-container {
    flex-grow: 1;
   

}

.task {
    cursor: pointer;
    margin: 12px 0px;
    align-items: center;
    padding: 8px 8px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    align-items: center;
    opacity: 1 !important;
    
  }
  
  
  .cdk-drag-placeholder {
    color: black;
    background-color: black;
    opacity: 0.1;
    transition: all 250ms ease;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    opacity: 1;
  }

  
  .tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .task-title {
    font-weight: bold;
  }

  .icon {
    position: absolute;
    top: 4px;
    right: 4px,
  }

  .icon2 {
    position: absolute;
    bottom: 4px;
    right: 4px,
  }

  


